# Extracción de datos desde bases de datos

## Conexión a bases de datos relacionales con ODBC y SQLAlchemy

#### Tipos de módulos de conexión
Para desarrollar un proyecto en Python en el que se quiera implementar el uso "Bases de Datos SQL", se tienen distintos módulos que pueden ser útiles, por ejemplo "PYODBC" que es uno de ellos.

**ODBC:**

Open DataBase Connectivity (ODBC) es un estándar de acceso a las bases de datos desarrollado por SQL Access Group (SAG) en 1992. El objetivo de ODBC es hacer posible el acceder a cualquier dato desde cualquier aplicación, sin importar qué sistema de gestión de bases de datos (DBMS) almacené los datos.

**PYODBC:**

Pyodbc es un módulo de Python de código abierto que simplifica el acceso a las bases de datos "ODBC" desde Python, implementando el uso de la DB API 2.0 de una forma conveniente para Python. Pyodbc también es considerado como un controlador SQL para Python.

### Conexión a bases de datos SQL Server utilizando cursor

#### Configuracion de SQL Server

So just open the access to your 127.0.0.1:1433 in the SQL server Configuration Manager.

Steps:

- Start -> All Programs -> SQL Server Configuration Manager
- SQL Server Network Configuration -> Protocols for MSSQLSERVER -> TCP/IP (Enable it)
- TCP/IP -> Properties -> IP Addresses. Find 127.0.0.1 and change the "Enabled" to "Yes". You can do it for all the IPs if you want.

In [ ]:
! conda install pymssql -y

In [4]:
import pymssql

conn = pymssql.connect(
    server='DSANDOVALFLAVIO', 
    database='cf_etl'
)

In [6]:
# Crear el cursor y ver las tablas de la base de datos
cursor = conn.cursor()
cursor.execute('SELECT * FROM information_schema.tables')
cursor.fetchall()

[('cf_etl', 'dbo', 'dataset', 'BASE TABLE')]

In [10]:
query = 'SELECT top 3 * FROM cf_etl.dbo.dataset'
cursor.execute(query)
data = cursor.fetchall()
data

[('12/24/2023',
  'CursosDeProgramacion',
  'Oeste',
  26148.0,
  133468.0,
  21979.0,
  606.0),
 ('11/11/2023',
  'AprendeCSharpFacil',
  'Norte',
  34586.0,
  340290.0,
  49146.0,
  495.0),
 ('5/24/2024',
  'CodigoFacilitoEnEspanol',
  'Norte',
  20337.0,
  343710.0,
  32831.0,
  1655.0)]

### Conexión a bases de datos SQL Server utilizando ODBC y SQLAlchemy

In [ ]:
! conda install pyodbc -y

In [14]:
! conda install sqlalchemy -y

Channels:
 - defaults
 - conda-forge
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\flavi\anaconda3\envs\tch_cf_etl_env

  added / updated specs:
    - sqlalchemy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    greenlet-3.0.1             |  py312hd77b12b_0         219 KB
    sqlalchemy-2.0.30          |  py312h827c3e9_0         3.8 MB
    ------------------------------------------------------------
                                           Total:         4.0 MB

The following NEW packages will be INSTALLED:

  greenlet           pkgs/main/win-64::greenlet-3.0.1-py312hd77b12b_0
  sqlalchemy         pkgs/main/win-64::sqlalchemy-2.0.30-py312h827c3e9_0



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Drivers Disponibles

In [15]:
import pyodbc

pyodbc.drivers()

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [16]:
from sqlalchemy import create_engine

driver = 'ODBC Driver 17 for SQL Server'
server = 'DSANDOVALFLAVIO'
database = 'cf_etl'

engine = create_engine(f'mssql+pyodbc://{server}/{database}?driver={driver}')

# Testear la conexión
try:
    conn = engine.connect()
    print('Conexión exitosa')
except Exception as e:
    print(f'Error en la conexión: {e}')

Conexión exitosa

In [22]:
import pandas as pd

df_table = pd.read_sql_table('dataset', engine)
df_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        1000 non-null   object
 1   sCampaign    1000 non-null   object
 2   Region       1000 non-null   object
 3   Clicks       1000 non-null   float64
 4   Impresiones  1000 non-null   float64
 5   Views        1000 non-null   float64
 6   Costo        1000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 54.8+ KB

### Ejecución de consultas SQL para extraer datos específicos

In [25]:
query = """
SELECT * 
FROM cf_etl.dbo.dataset 
WHERE sCampaign = 'CursosDeProgramacion'
"""

df = pd.read_sql(
    sql=query, 
    con=engine,
    
    )
df

,Fecha,sCampaign,Region,Clicks,Impresiones,Views,Costo
0,12/24/2023,CursosDeProgramacion,Oeste,26148.0,133468.0,21979.0,606.0
1,3/12/2024,CursosDeProgramacion,Oeste,32254.0,206296.0,6448.0,726.0
2,3/20/2024,CursosDeProgramacion,Norte,7761.0,178949.0,47475.0,862.0
3,10/22/2023,CursosDeProgramacion,Este,42967.0,356762.0,7496.0,1722.0
4,4/22/2024,CursosDeProgramacion,Norte,13362.0,157531.0,47034.0,517.0
...,...,...,...,...,...,...,...
92,4/1/2024,CursosDeProgramacion,Oeste,29805.0,381302.0,19833.0,1152.0
93,5/12/2024,CursosDeProgramacion,Sur,49996.0,79199.0,38665.0,1603.0
94,5/7/2024,CursosDeProgramacion,Este,22068.0,435276.0,34668.0,577.0
95,10/31/2023,CursosDeProgramacion,Este,31943.0,248545.0,21555.0,882.0
96,1/28/2024,CursosDeProgramacion,Sur,12424.0,178723.0,17621.0,1086.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        97 non-null     object
 1   sCampaign    97 non-null     object
 2   Region       97 non-null     object
 3   Clicks       97 non-null     float64
 4   Impresiones  97 non-null     float64
 5   Views        97 non-null     float64
 6   Costo        97 non-null     float64
dtypes: float64(4), object(3)
memory usage: 5.4+ KB

In [27]:
df = pd.read_sql(
    sql=query, 
    con=engine,
    parse_dates={'Fecha': {'format': '%m-%d-%Y'}}
    )
df

,Fecha,sCampaign,Region,Clicks,Impresiones,Views,Costo
0,12/24/2023,CursosDeProgramacion,Oeste,26148.0,133468.0,21979.0,606.0
1,3/12/2024,CursosDeProgramacion,Oeste,32254.0,206296.0,6448.0,726.0
2,3/20/2024,CursosDeProgramacion,Norte,7761.0,178949.0,47475.0,862.0
3,10/22/2023,CursosDeProgramacion,Este,42967.0,356762.0,7496.0,1722.0
4,4/22/2024,CursosDeProgramacion,Norte,13362.0,157531.0,47034.0,517.0
...,...,...,...,...,...,...,...
92,4/1/2024,CursosDeProgramacion,Oeste,29805.0,381302.0,19833.0,1152.0
93,5/12/2024,CursosDeProgramacion,Sur,49996.0,79199.0,38665.0,1603.0
94,5/7/2024,CursosDeProgramacion,Este,22068.0,435276.0,34668.0,577.0
95,10/31/2023,CursosDeProgramacion,Este,31943.0,248545.0,21555.0,882.0
96,1/28/2024,CursosDeProgramacion,Sur,12424.0,178723.0,17621.0,1086.0

# Extracción de datos desde bases de datos NoSQL (MongoDB)

In [28]:
! conda install pymongo -y

Channels:
 - defaults
 - conda-forge
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\flavi\anaconda3\envs\tch_cf_etl_env

  added / updated specs:
    - pymongo


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    cryptography-43.0.0        |  py312h89fc84f_0         1.4 MB
    dnspython-2.4.2            |  py312haa95532_0         480 KB
    pymongo-4.6.3              |  py312hd77b12b_0         1.2 MB
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following NEW packages will be INSTALLED:

  cryptography       pkgs/main/win-64::cryptography-43.0.0-py312h89fc84f_0
  dnspython          pkgs/main/win-64::dnspython-2.4.2-py312haa95532_0
  pymongo            pkgs/main/win-64::pymongo-4.6.3-py312hd77b12b_0



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [35]:
import pymongo

client = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = client['cf_etl']
mycollection = mydb['dataset']

In [36]:
#obtener todos los registros de la colección
for doc in mycollection.find():
    print(doc)

{'_id': ObjectId('66d511a6fd25f223afbb0a8c'), 'Fecha': '12/24/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 26148.0, 'Impresiones': 133468.0, 'Views': 21979.0, 'Costo': 606.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a8d'), 'Fecha': '3/12/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 32254.0, 'Impresiones': 206296.0, 'Views': 6448.0, 'Costo': 726.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a8e'), 'Fecha': '3/20/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 7761.0, 'Impresiones': 178949.0, 'Views': 47475.0, 'Costo': 862.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a8f'), 'Fecha': '10/22/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 42967.0, 'Impresiones': 356762.0, 'Views': 7496.0, 'Costo': 1722.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a90'), 'Fecha': '4/22/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 13362.0, 'Impresiones': 157531.0, 'Views': 47034.0, 'Costo': 517.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a91'), 'Fecha': '6/13/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 25279.0, 'Impresiones': 50895.0, 'Views': 29975.0, 'Costo': 1463.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a92'), 'Fecha': '2/7/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 14063.0, 'Impresiones': 348207.0, 'Views': 31433.0, 'Costo': 1065.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a93'), 'Fecha': '7/1/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 20017.0, 'Impresiones': 124371.0, 'Views': 37821.0, 'Costo': 1015.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a94'), 'Fecha': '7/27/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 6428.0, 'Impresiones': 151577.0, 'Views': 38916.0, 'Costo': 159.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a95'), 'Fecha': '6/29/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 38953.0, 'Impresiones': 469810.0, 'Views': 29584.0, 'Costo': 995.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a96'), 'Fecha': '9/30/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 29205.0, 'Impresiones': 485595.0, 'Views': 19260.0, 'Costo': 1257.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a97'), 'Fecha': '9/5/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 11943.0, 'Impresiones': 15235.0, 'Views': 46896.0, 'Costo': 479.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a98'), 'Fecha': '1/3/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 47233.0, 'Impresiones': 65128.0, 'Views': 16932.0, 'Costo': 1333.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a99'), 'Fecha': '9/20/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 43769.0, 'Impresiones': 201069.0, 'Views': 12882.0, 'Costo': 1641.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a9a'), 'Fecha': '4/6/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 23294.0, 'Impresiones': 282996.0, 'Views': 24528.0, 'Costo': 239.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a9b'), 'Fecha': '2/28/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 27780.0, 'Impresiones': 442073.0, 'Views': 5330.0, 'Costo': 1054.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a9c'), 'Fecha': '2/13/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 27468.0, 'Impresiones': 183753.0, 'Views': 41787.0, 'Costo': 358.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a9d'), 'Fecha': '7/12/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 39872.0, 'Impresiones': 265021.0, 'Views': 21379.0, 'Costo': 570.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a9e'), 'Fecha': '11/17/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 39705.0, 'Impresiones': 244416.0, 'Views': 19264.0, 'Costo': 1320.0}
{'_id': ObjectId('66d511a6fd25f223afbb0a9f'), 'Fecha': '3/3/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 20211.0, 'Impresiones': 50727.0, 'Views': 10991.0, 'Costo': 573.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa0'), 'Fecha': '4/30/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 7225.0, 'Impresiones': 328736.0, 'Views': 5510.0, 'Costo': 797.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa1'), 'Fecha': '12/19/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 32013.0, 'Impresiones': 53658.0, 'Views': 33919.0, 'Costo': 1883.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa2'), 'Fecha': '5/14/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 9834.0, 'Impresiones': 416727.0, 'Views': 12695.0, 'Costo': 561.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa3'), 'Fecha': '3/9/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 48614.0, 'Impresiones': 124857.0, 'Views': 27003.0, 'Costo': 360.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa4'), 'Fecha': '3/21/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 24926.0, 'Impresiones': 400795.0, 'Views': 21931.0, 'Costo': 1743.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa5'), 'Fecha': '10/8/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 20496.0, 'Impresiones': 6394.0, 'Views': 29281.0, 'Costo': 1196.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa6'), 'Fecha': '6/6/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 36350.0, 'Impresiones': 270672.0, 'Views': 7262.0, 'Costo': 1797.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa7'), 'Fecha': '11/25/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 29250.0, 'Impresiones': 134314.0, 'Views': 35403.0, 'Costo': 618.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa8'), 'Fecha': '6/6/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 47863.0, 'Impresiones': 443331.0, 'Views': 28458.0, 'Costo': 1806.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aa9'), 'Fecha': '1/4/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 32988.0, 'Impresiones': 234746.0, 'Views': 47509.0, 'Costo': 881.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aaa'), 'Fecha': '11/9/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 29748.0, 'Impresiones': 163235.0, 'Views': 48033.0, 'Costo': 118.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aab'), 'Fecha': '11/6/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 11798.0, 'Impresiones': 94047.0, 'Views': 8802.0, 'Costo': 1194.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aac'), 'Fecha': '1/26/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 42772.0, 'Impresiones': 203801.0, 'Views': 37980.0, 'Costo': 1110.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aad'), 'Fecha': '4/8/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 48174.0, 'Impresiones': 61418.0, 'Views': 5641.0, 'Costo': 269.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aae'), 'Fecha': '7/14/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 22114.0, 'Impresiones': 247486.0, 'Views': 23409.0, 'Costo': 1604.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aaf'), 'Fecha': '10/14/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 31003.0, 'Impresiones': 66923.0, 'Views': 42963.0, 'Costo': 791.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab0'), 'Fecha': '11/24/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 19759.0, 'Impresiones': 417305.0, 'Views': 22237.0, 'Costo': 1036.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab1'), 'Fecha': '10/6/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 20895.0, 'Impresiones': 391347.0, 'Views': 15374.0, 'Costo': 1533.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab2'), 'Fecha': '3/30/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 40504.0, 'Impresiones': 52269.0, 'Views': 16395.0, 'Costo': 202.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab3'), 'Fecha': '12/18/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 29580.0, 'Impresiones': 39653.0, 'Views': 17484.0, 'Costo': 1551.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab4'), 'Fecha': '3/21/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 8371.0, 'Impresiones': 287789.0, 'Views': 42218.0, 'Costo': 391.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab5'), 'Fecha': '11/26/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 17816.0, 'Impresiones': 386508.0, 'Views': 42831.0, 'Costo': 1281.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab6'), 'Fecha': '7/17/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 40042.0, 'Impresiones': 92235.0, 'Views': 20870.0, 'Costo': 1843.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab7'), 'Fecha': '5/10/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 6549.0, 'Impresiones': 108094.0, 'Views': 30696.0, 'Costo': 1703.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab8'), 'Fecha': '8/9/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 27575.0, 'Impresiones': 336994.0, 'Views': 34700.0, 'Costo': 285.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ab9'), 'Fecha': '10/4/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 16691.0, 'Impresiones': 397167.0, 'Views': 30162.0, 'Costo': 107.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aba'), 'Fecha': '12/28/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 17382.0, 'Impresiones': 343390.0, 'Views': 42587.0, 'Costo': 131.0}
{'_id': ObjectId('66d511a6fd25f223afbb0abb'), 'Fecha': '11/7/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 28533.0, 'Impresiones': 169646.0, 'Views': 25505.0, 'Costo': 1895.0}
{'_id': ObjectId('66d511a6fd25f223afbb0abc'), 'Fecha': '12/24/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 39630.0, 'Impresiones': 223537.0, 'Views': 10459.0, 'Costo': 183.0}
{'_id': ObjectId('66d511a6fd25f223afbb0abd'), 'Fecha': '11/12/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 18396.0, 'Impresiones': 82486.0, 'Views': 25120.0, 'Costo': 1482.0}
{'_id': ObjectId('66d511a6fd25f223afbb0abe'), 'Fecha': '7/23/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 20513.0, 'Impresiones': 16245.0, 'Views': 45521.0, 'Costo': 1909.0}
{'_id': ObjectId('66d511a6fd25f223afbb0abf'), 'Fecha': '10/11/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 18690.0, 'Impresiones': 485393.0, 'Views': 25541.0, 'Costo': 713.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac0'), 'Fecha': '3/17/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 22799.0, 'Impresiones': 37582.0, 'Views': 41088.0, 'Costo': 808.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac1'), 'Fecha': '1/3/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 33580.0, 'Impresiones': 406089.0, 'Views': 40021.0, 'Costo': 1793.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac2'), 'Fecha': '7/27/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 10993.0, 'Impresiones': 155570.0, 'Views': 8354.0, 'Costo': 282.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac3'), 'Fecha': '12/6/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 13122.0, 'Impresiones': 190518.0, 'Views': 43895.0, 'Costo': 1718.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac4'), 'Fecha': '5/13/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 43231.0, 'Impresiones': 330058.0, 'Views': 28639.0, 'Costo': 1734.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac5'), 'Fecha': '12/25/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 21114.0, 'Impresiones': 18475.0, 'Views': 33974.0, 'Costo': 743.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac6'), 'Fecha': '9/12/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 5988.0, 'Impresiones': 391024.0, 'Views': 27724.0, 'Costo': 103.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac7'), 'Fecha': '12/17/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 16073.0, 'Impresiones': 434604.0, 'Views': 28840.0, 'Costo': 243.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac8'), 'Fecha': '11/14/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 6093.0, 'Impresiones': 316147.0, 'Views': 14009.0, 'Costo': 1173.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ac9'), 'Fecha': '7/22/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 31502.0, 'Impresiones': 395162.0, 'Views': 40818.0, 'Costo': 180.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aca'), 'Fecha': '5/22/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 29313.0, 'Impresiones': 410144.0, 'Views': 25506.0, 'Costo': 1754.0}
{'_id': ObjectId('66d511a6fd25f223afbb0acb'), 'Fecha': '6/18/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 47192.0, 'Impresiones': 209098.0, 'Views': 39971.0, 'Costo': 1080.0}
{'_id': ObjectId('66d511a6fd25f223afbb0acc'), 'Fecha': '12/6/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 18884.0, 'Impresiones': 10283.0, 'Views': 14515.0, 'Costo': 1468.0}
{'_id': ObjectId('66d511a6fd25f223afbb0acd'), 'Fecha': '10/29/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 35786.0, 'Impresiones': 156351.0, 'Views': 49212.0, 'Costo': 1310.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ace'), 'Fecha': '10/19/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 12370.0, 'Impresiones': 491980.0, 'Views': 43182.0, 'Costo': 752.0}
{'_id': ObjectId('66d511a6fd25f223afbb0acf'), 'Fecha': '11/5/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 6933.0, 'Impresiones': 365842.0, 'Views': 6785.0, 'Costo': 1256.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad0'), 'Fecha': '11/20/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 33018.0, 'Impresiones': 5843.0, 'Views': 20015.0, 'Costo': 120.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad1'), 'Fecha': '1/31/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 41862.0, 'Impresiones': 201429.0, 'Views': 12146.0, 'Costo': 772.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad2'), 'Fecha': '2/16/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 32773.0, 'Impresiones': 70563.0, 'Views': 11373.0, 'Costo': 614.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad3'), 'Fecha': '2/10/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 40674.0, 'Impresiones': 197938.0, 'Views': 6257.0, 'Costo': 1286.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad4'), 'Fecha': '4/29/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 32424.0, 'Impresiones': 94176.0, 'Views': 20020.0, 'Costo': 349.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad5'), 'Fecha': '9/22/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 12845.0, 'Impresiones': 399246.0, 'Views': 6849.0, 'Costo': 1270.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad6'), 'Fecha': '8/24/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 33786.0, 'Impresiones': 449964.0, 'Views': 32406.0, 'Costo': 697.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad7'), 'Fecha': '12/26/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Norte', 'Clicks': 22747.0, 'Impresiones': 129066.0, 'Views': 37392.0, 'Costo': 324.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad8'), 'Fecha': '7/26/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 14317.0, 'Impresiones': 81785.0, 'Views': 33223.0, 'Costo': 494.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ad9'), 'Fecha': '9/22/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 48095.0, 'Impresiones': 417920.0, 'Views': 5821.0, 'Costo': 229.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ada'), 'Fecha': '10/21/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 8447.0, 'Impresiones': 253412.0, 'Views': 32803.0, 'Costo': 602.0}
{'_id': ObjectId('66d511a6fd25f223afbb0adb'), 'Fecha': '1/6/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 22259.0, 'Impresiones': 307485.0, 'Views': 12382.0, 'Costo': 469.0}
{'_id': ObjectId('66d511a6fd25f223afbb0adc'), 'Fecha': '5/10/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 35275.0, 'Impresiones': 477375.0, 'Views': 49190.0, 'Costo': 1228.0}
{'_id': ObjectId('66d511a6fd25f223afbb0add'), 'Fecha': '8/3/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 48111.0, 'Impresiones': 418929.0, 'Views': 27583.0, 'Costo': 1499.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ade'), 'Fecha': '11/12/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 46272.0, 'Impresiones': 331870.0, 'Views': 7781.0, 'Costo': 1980.0}
{'_id': ObjectId('66d511a6fd25f223afbb0adf'), 'Fecha': '11/19/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 34362.0, 'Impresiones': 249036.0, 'Views': 48187.0, 'Costo': 287.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae0'), 'Fecha': '1/27/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 46914.0, 'Impresiones': 352790.0, 'Views': 28025.0, 'Costo': 1428.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae1'), 'Fecha': '8/13/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 47194.0, 'Impresiones': 285981.0, 'Views': 18448.0, 'Costo': 1416.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae2'), 'Fecha': '10/14/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 27390.0, 'Impresiones': 89655.0, 'Views': 5149.0, 'Costo': 184.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae3'), 'Fecha': '6/13/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 45909.0, 'Impresiones': 497497.0, 'Views': 10085.0, 'Costo': 1444.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae4'), 'Fecha': '7/6/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 28348.0, 'Impresiones': 417987.0, 'Views': 16452.0, 'Costo': 1809.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae5'), 'Fecha': '3/31/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 35349.0, 'Impresiones': 235792.0, 'Views': 25617.0, 'Costo': 1784.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae6'), 'Fecha': '2/6/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 23050.0, 'Impresiones': 234023.0, 'Views': 35952.0, 'Costo': 340.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae7'), 'Fecha': '6/18/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 21779.0, 'Impresiones': 195145.0, 'Views': 17809.0, 'Costo': 1342.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae8'), 'Fecha': '4/1/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Oeste', 'Clicks': 29805.0, 'Impresiones': 381302.0, 'Views': 19833.0, 'Costo': 1152.0}
{'_id': ObjectId('66d511a6fd25f223afbb0ae9'), 'Fecha': '5/12/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 49996.0, 'Impresiones': 79199.0, 'Views': 38665.0, 'Costo': 1603.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aea'), 'Fecha': '5/7/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 22068.0, 'Impresiones': 435276.0, 'Views': 34668.0, 'Costo': 577.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aeb'), 'Fecha': '10/31/2023', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Este', 'Clicks': 31943.0, 'Impresiones': 248545.0, 'Views': 21555.0, 'Costo': 882.0}
{'_id': ObjectId('66d511a6fd25f223afbb0aec'), 'Fecha': '1/28/2024', 'sCampaign': 'CursosDeProgramacion', 'Region': 'Sur', 'Clicks': 12424.0, 'Impresiones': 178723.0, 'Views': 17621.0, 'Costo': 1086.0}

In [40]:
def read_collection_df(collection):
    return pd.DataFrame(list(collection.find()))

read_collection_df(mycollection)

,_id,Fecha,sCampaign,Region,Clicks,Impresiones,Views,Costo
0,66d511a6fd25f223afbb0a8c,12/24/2023,CursosDeProgramacion,Oeste,26148.0,133468.0,21979.0,606.0
1,66d511a6fd25f223afbb0a8d,3/12/2024,CursosDeProgramacion,Oeste,32254.0,206296.0,6448.0,726.0
2,66d511a6fd25f223afbb0a8e,3/20/2024,CursosDeProgramacion,Norte,7761.0,178949.0,47475.0,862.0
3,66d511a6fd25f223afbb0a8f,10/22/2023,CursosDeProgramacion,Este,42967.0,356762.0,7496.0,1722.0
4,66d511a6fd25f223afbb0a90,4/22/2024,CursosDeProgramacion,Norte,13362.0,157531.0,47034.0,517.0
...,...,...,...,...,...,...,...,...
92,66d511a6fd25f223afbb0ae8,4/1/2024,CursosDeProgramacion,Oeste,29805.0,381302.0,19833.0,1152.0
93,66d511a6fd25f223afbb0ae9,5/12/2024,CursosDeProgramacion,Sur,49996.0,79199.0,38665.0,1603.0
94,66d511a6fd25f223afbb0aea,5/7/2024,CursosDeProgramacion,Este,22068.0,435276.0,34668.0,577.0
95,66d511a6fd25f223afbb0aeb,10/31/2023,CursosDeProgramacion,Este,31943.0,248545.0,21555.0,882.0
96,66d511a6fd25f223afbb0aec,1/28/2024,CursosDeProgramacion,Sur,12424.0,178723.0,17621.0,1086.0

La línea de código `pd.DataFrame(list(collection.find()))` está realizando varias operaciones para convertir los documentos de una colección de MongoDB en un DataFrame de Pandas. Aquí está la explicación detallada de cómo funciona:

1. **`collection.find()`**:
   - `collection` es un objeto que representa una colección en una base de datos MongoDB.
   - El método `find()` se utiliza para realizar una consulta en la colección y recuperar todos los documentos. Si no se pasan parámetros a `find()`, se recuperan todos los documentos de la colección.
   - El resultado de `find()` es un cursor, que es un iterador que permite recorrer los documentos recuperados uno por uno.

2. **`list(collection.find())`**:
   - La función `list()` toma el cursor devuelto por `find()` y lo convierte en una lista de documentos. Cada documento en la lista es un diccionario de Python que representa un documento de MongoDB.
   - Esta conversión es necesaria porque el cursor no puede ser directamente pasado a `pd.DataFrame()`. La lista resultante contiene todos los documentos de la colección en forma de diccionarios.

3. **`pd.DataFrame(list(collection.find()))`**:
   - `pd.DataFrame()` es una función de la biblioteca Pandas que se utiliza para crear un DataFrame.
   - Al pasar la lista de diccionarios a `pd.DataFrame()`, Pandas convierte cada diccionario en una fila del DataFrame. Las claves de los diccionarios se convierten en los nombres de las columnas del DataFrame.
   - El resultado es un DataFrame de Pandas que contiene todos los documentos de la colección de MongoDB, con las columnas correspondientes a las claves de los diccionarios.

En resumen, esta línea de código recupera todos los documentos de una colección de MongoDB, los convierte en una lista de diccionarios y luego crea un DataFrame de Pandas a partir de esa lista. Esto permite trabajar con los datos de MongoDB utilizando las poderosas herramientas de análisis y manipulación de datos que ofrece Pandas.

#### Ejecución de consultas para extraer datos específicos en MongoDB

In [41]:
def read_collection_df(collection, query={}):
    return pd.DataFrame(list(collection.find(query)))

query = {'Region': 'Norte'}
read_collection_df(mycollection, query)

,_id,Fecha,sCampaign,Region,Clicks,Impresiones,Views,Costo
0,66d511a6fd25f223afbb0a8e,3/20/2024,CursosDeProgramacion,Norte,7761.0,178949.0,47475.0,862.0
1,66d511a6fd25f223afbb0a90,4/22/2024,CursosDeProgramacion,Norte,13362.0,157531.0,47034.0,517.0
2,66d511a6fd25f223afbb0a9a,4/6/2024,CursosDeProgramacion,Norte,23294.0,282996.0,24528.0,239.0
3,66d511a6fd25f223afbb0a9f,3/3/2024,CursosDeProgramacion,Norte,20211.0,50727.0,10991.0,573.0
4,66d511a6fd25f223afbb0aac,1/26/2024,CursosDeProgramacion,Norte,42772.0,203801.0,37980.0,1110.0
5,66d511a6fd25f223afbb0aad,4/8/2024,CursosDeProgramacion,Norte,48174.0,61418.0,5641.0,269.0
6,66d511a6fd25f223afbb0aae,7/14/2024,CursosDeProgramacion,Norte,22114.0,247486.0,23409.0,1604.0
7,66d511a6fd25f223afbb0ab1,10/6/2023,CursosDeProgramacion,Norte,20895.0,391347.0,15374.0,1533.0
8,66d511a6fd25f223afbb0ab5,11/26/2023,CursosDeProgramacion,Norte,17816.0,386508.0,42831.0,1281.0
9,66d511a6fd25f223afbb0abb,11/7/2023,CursosDeProgramacion,Norte,28533.0,169646.0,25505.0,1895.0
10,66d511a6fd25f223afbb0abd,11/12/2023,CursosDeProgramacion,Norte,18396.0,82486.0,25120.0,1482.0
11,66d511a6fd25f223afbb0ac2,7/27/2024,CursosDeProgramacion,Norte,10993.0,155570.0,8354.0,282.0
12,66d511a6fd25f223afbb0ac3,12/6/2023,CursosDeProgramacion,Norte,13122.0,190518.0,43895.0,1718.0
13,66d511a6fd25f223afbb0aca,5/22/2024,CursosDeProgramacion,Norte,29313.0,410144.0,25506.0,1754.0
14,66d511a6fd25f223afbb0ace,10/19/2023,CursosDeProgramacion,Norte,12370.0,491980.0,43182.0,752.0
15,66d511a6fd25f223afbb0ad0,11/20/2023,CursosDeProgramacion,Norte,33018.0,5843.0,20015.0,120.0
16,66d511a6fd25f223afbb0ad1,1/31/2024,CursosDeProgramacion,Norte,41862.0,201429.0,12146.0,772.0
17,66d511a6fd25f223afbb0ad2,2/16/2024,CursosDeProgramacion,Norte,32773.0,70563.0,11373.0,614.0
18,66d511a6fd25f223afbb0ad4,4/29/2024,CursosDeProgramacion,Norte,32424.0,94176.0,20020.0,349.0
19,66d511a6fd25f223afbb0ad7,12/26/2023,CursosDeProgramacion,Norte,22747.0,129066.0,37392.0,324.0